<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Polityka prywatności</title>
</head>
<body>
    <h1>Polityka prywatności</h1>
    <p>Data ostatniej aktualizacji: 05.02.2024</p>
    <p>Dziękujemy za korzystanie z naszej strony internetowej. Chcielibyśmy podkreślić, że nie zbieramy żadnych osobistych informacji od użytkowników na tej stronie. Nasza strona internetowa służy jedynie do prezentacji dostępnego API i nie gromadzi żadnych danych osobowych ani śledzi użytkowników.</p>
    
    <h2>Korzystanie z API</h2>
    <p>Nasza strona może udostępniać dostęp do różnych API lub usług innych firm. Korzystając z tych API lub usług, użytkownicy podlegają polityce prywatności tych firm. Prosimy o zapoznanie się z ich politykami prywatności przed użyciem tych usług.</p>
    
    <h2>Ciasteczka (Cookies)</h2>
    <p>Nasza strona może używać plików cookie wyłącznie w celu poprawy funkcjonalności strony. Pliki cookie nie są wykorzystywane do zbierania ani przechowywania danych osobowych.</p>
    
    <h2>Bezpieczeństwo</h2>
    <p>Dbamy o bezpieczeństwo naszej strony internetowej i stosujemy odpowiednie środki techniczne, aby chronić przed nieuprawnionym dostępem lub utratą danych.</p>
    
    <h2>Kontakt</h2>
    <p>Jeśli masz jakiekolwiek pytania dotyczące naszej polityki prywatności lub chciałbyś się skontaktować z nami w sprawach związanych z prywatnością, prosimy o kontakt na następujący adres e-mail: [asystentprawny@gmail.com].</p>
</body>
</html>
